<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% let = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% data = [] %>
    <% let.each do |record| %>
      <%  data << "ゴーヤの消費先：#{record["give_for"]}" %>
    <% end %>

    <% result = connection.exec("select quality from crops where quality = 'false';") %>
    <% data2 = [] %>
    <% result.each do |record| %>
      <%  data2 << "ゴーヤの質：#{record["quality"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの消費先<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goyat.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの質<br><br>
      <input type="text" name="goyat" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
